*.class

#package file
*.war
*.ear

#kdf3 ignore
*.org

#maven
target/

#eclipse
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.patch
*.diff
*.cache
*.tmp

#system ignore
.DS_Store
Thumbs.db

